*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Sofia Pro";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #2F2E2A;
  background-color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 162rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.header {
  position: relative;
  z-index: 2;
  padding: 2.5rem 0;
}
.header--white {
  color: white;
}
.header--white .header__language-btn > select {
  color: white;
}
.header--white .header__language-btn > svg path {
  stroke: white;
}
.header--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header--absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item {
  position: relative;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header__menu-item:not(:last-child) {
  margin-right: 3.5rem;
}
.header__menu-item.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% + 2rem);
  width: 100%;
  height: 1px;
  background-color: white;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__language-btn {
  position: relative;
  display: block;
  margin-right: 6rem;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}
.header__language-btn > select {
  padding-right: 2.2rem;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  text-align: right;
}
.header__language-btn > svg {
  position: absolute;
  right: 0;
  top: 50%;
  width: 1.1rem;
  height: 0.6rem;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
}
.header__language-btn > svg path {
  stroke: #2F2E2A;
}
.header__btn {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
}
.header__btn:not(:last-child) {
  margin-right: 2.4rem;
}
.header__btn > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  min-height: 100vh;
  position: relative;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 40rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-page {
  position: relative;
}
.main-page:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9999;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.banner {
  position: relative;
  z-index: 1;
  height: 150vh;
  -webkit-box-shadow: 0 2rem 4rem 2rem rgba(4, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem 2rem rgba(4, 0, 0, 0.5);
}
.banner--static {
  height: 100vh;
  background-color: transparent;
}
.banner--next {
  z-index: 0;
}
.banner--next .banner__content {
  position: fixed;
  top: 0;
  z-index: -2;
}
.banner__content {
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.banner__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__text-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11rem 0;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
}
.banner__title {
  width: 71rem;
  margin-bottom: 3rem;
  font-family: "Lora";
  font-size: 4rem;
  line-height: 5.7rem;
  text-transform: uppercase;
}
.banner__btn {
  padding: 2.2rem 4.8rem;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.catalog-intro {
  margin-bottom: 17rem;
}
.catalog-intro__bg {
  width: 100%;
  height: 85.2rem;
}
.catalog-intro__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog {
  margin-bottom: 17rem;
}
.catalog__title {
  margin-bottom: 5rem;
  font-family: "Lora";
  font-size: 4rem;
  line-height: 5.7rem;
  text-align: center;
  text-transform: uppercase;
}
.catalog__filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8.8rem;
}
.catalog__breadcrumb {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: rgba(47, 46, 42, 0.6);
}
.catalog__breadcrumb:not(:last-child):after {
  content: "/";
  display: inline;
  margin: 0 1rem;
}
.catalog__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.catalog__filter-btn {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.catalog__label-select {
  position: relative;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.catalog__select {
  position: relative;
  z-index: 1;
  padding: 0 3rem 0 12rem;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.catalog__select-sub-text {
  position: absolute;
  left: 0;
  bottom: 0;
}
.catalog__select-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  width: 1.1rem;
  height: 0.6rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.catalog__select-arrow path {
  stroke: #393738;
}
.catalog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 6rem;
}
.catalog__item {
  position: relative;
  width: 36.7rem;
  margin-right: 5rem;
}
.catalog__item:nth-child(4n+3) {
  margin-right: 0;
}
.catalog__item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto;
}
.catalog__like {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 2.1rem;
}
.catalog__like path {
  fill: #2F2E2A;
}
.catalog__like .like-active {
  display: none;
}
.catalog__like .like-active path {
  fill: #CB2C30;
}
.catalog__like.active .like-disabled {
  display: none;
}
.catalog__like.active .like-active {
  display: initial;
}
.catalog__img-box {
  width: 36.7rem;
  height: 41.4rem;
  padding: 2.7rem 1.8rem;
  margin-bottom: 0.9rem;
}
.catalog__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__item-title {
  margin-bottom: 0.7rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
.catalog__price {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}