@import "param";

.catalog {
  padding-bottom: 17rem;

  &--slider {
    .catalog__title {
      text-align: left;
    }

    .catalog__img-box {
      height: 50rem;
      margin-bottom: 1.2rem;
    }
  }

  &__title {
    margin-bottom: 5rem;
    font-family: $lora;
    font-size: 4rem;
    line-height: 5.7rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__filter-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.8rem;
  }

  &__breadcrumbs {
    width: 34rem;
  }

  &__breadcrumb {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.6);

    &:not(:last-child) {
      &:after {
        content: '/';
        display: inline;
        margin: 0 1rem;
      }
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__filter-btn-box {
  }

  &__filter-btn {
    display: block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    cursor: pointer;
  }

  &__filter-box {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 65.7rem;
    height: 100%;
    transform: translateX(100%);
    background-color: white;
    transition: transform .3s ease;

    &.active {
      transform: translateX(0);
    }
  }

  &__filter-box-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(47, 46, 42, 0.9);
  }

  &__filter-header {
    flex: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEA;
  }

  &__filter-box-title {
    padding: 3rem 5rem;
    font-family: $lora;
    font-size: 4rem;
    line-height: 5.7rem;
    text-transform: uppercase;
  }

  &__filter-close {
    flex: none;
    position: relative;
    width: 12.8rem;
    height: auto;
    border-left: 1px solid #EBEBEA;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2rem;
      height: 2px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #2E2E2E;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2rem;
      height: 2px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: #2E2E2E;
    }

    &:hover {
      background-color: #F5F5F5;
    }
  }

  &__filter-list {
    flex: auto;
    margin: 3.5rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__filter-list-item {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: rgba(47, 46, 42, 0.5);

    > * {
      padding: 1.5rem 5rem;
    }

    &.active {
      background-color: #FAF9F5;
      color: #2F2E2A;
    }
  }

  &__filter-footer {
    flex: none;
    padding: 3rem 5rem;
    border-top: 1px solid #EBEBEA;
  }

  &__filter-form-btn {
    width: 100%;
    padding: 2.2rem 5rem;
    border: 1px solid #2F2E2A;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: #F5F5F5;
    }
  }

  &__filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;

    > input {
      display: none;
    }
  }

  &__filter-color {
    flex: none;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
    border-radius: 100%;

    &--border {
      border: 1px solid #2F2E2A;
    }
  }

  &__select {
    position: relative;
    width: 32rem;
    padding-right: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__select-sub-text {
  }

  &__select-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.1rem;
    height: 0.6rem;
    transform: translateY(-50%);

    path {
      stroke: #393738;
    }
  }

  &__select-list {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 0.6rem);
    z-index: 5;
    width: 100%;
    padding: 2.8rem 2.5rem 4.6rem 2.5rem;
    background: rgba(207, 206, 199, 0.1);
    backdrop-filter: blur(2rem);
  }

  &__select-item {
    > label {
      display: block;
      width: 100%;
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 2.8rem;
    }

    input {
      display: none;
    }

    &.active {
      > label {
        font-weight: 700;
      }
    }

    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6rem;

    &--favorites {
      width: 120rem;

      .catalog__item {
        &:nth-child(3n + 1) {
          margin-right: 5rem;
          margin-left: 0;
        }

        &:nth-child(3n + 2) {
          margin: 0;
        }

        &:nth-child(3n) {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  &__item {
    position: relative;
    width: 36.7rem;
    height: auto;
    margin-right: 5rem;

    &:nth-child(4n + 3) {
      margin-right: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__like {
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
    z-index: 1;

    svg {
      width: 3.2rem;
      height: 2.7rem;
    }

    path {
      fill: #2F2E2A;
    }

    .like-active {
      display: none;

      path {
        fill: #CB2C30;
      }
    }

    &.active {
      .like-disabled {
        display: none;
      }

      .like-active {
        display: initial;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img-box {
    position: relative;
    width: 100%;
    height: 57rem;
    margin-bottom: 1rem;

    > img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .6s opacity ease;

      &:nth-child(2) {
        opacity: 0;
        background-color: white;
      }
    }

    &:hover {
      > img:nth-child(2) {
        opacity: 1;
      }
    }
  }

  &__item-title {
    margin-bottom: 0.7rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 2.4rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;

    .old-price {
      margin-right: 2rem;
      color: rgba(47, 46, 42, 0.6);
      text-decoration: line-through;
    }
  }

  &__info-text {
    margin-top: -1.6rem;
    font-weight: 250;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__selected-filters {
    display: none;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
    margin-top: -2.2rem;
    margin-bottom: 7rem;

    > *:not(.filter-reset-box),
    .filter-reset {
      position: relative;
      padding: 1.5rem 5rem 1.5rem 2rem;
      background-color: #FAF9F5;
      font-size: 1.8rem;
      line-height: 2rem;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        right: 2rem;
        top: 50%;
        width: 2rem;
        height: 2px;
        transform: translateY(-50%) rotate(45deg);
        background-color: #2F2E2A;
      }

      &:after {
        content: '';
        position: absolute;
        right: 2rem;
        top: 50%;
        width: 2rem;
        height: 2px;
        transform: translateY(-50%) rotate(-45deg);
        background-color: #2F2E2A;
      }
    }

    .filter-reset {
      padding-right: 7.6rem;
      text-transform: uppercase;
    }

    &.active {
      display: flex;
    }

    @media (min-width: 48.01em) {
      > *:nth-last-child(2) {
        margin-right: 5rem;
      }
    }
  }
}

@media (max-width: 48em) {
  .catalog {
    position: relative;
    padding-bottom: 24rem;

    &--slider {
      .catalog__title {
        line-height: 6.5rem;
      }

      .catalog__img-box {
        height: 37.2rem;
        margin-bottom: 2.4rem;
      }
    }

    &--category {
      .catalog__breadcrumbs {
        top: -14rem;
      }
    }

    &__title {
      margin-bottom: 7rem;
      font-size: 4.8rem;
      line-height: 1;
      text-align: left;
    }

    &__filter-block {
      display: block;
      justify-content: space-between;
      margin-bottom: 8.8rem;
    }

    &__breadcrumbs {
      position: absolute;
      left: 3rem;
      top: -20rem;
      width: auto;
    }

    &__breadcrumb {
      font-size: 3rem;
      line-height: 4.6rem;

      &:not(:last-child) {
        &:after {
          margin: 0 2rem;
        }
      }
    }

    &__filters-btn-mob {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 7rem;
      padding: 3.4rem 5rem;
      border: 1px solid #2F2E2A;
      font-family: $sof600;
      font-weight: 700;
      font-size: 3rem;
      line-height: 4.6rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      > svg {
        width: 3.6rem;
        height: 3.6rem;
        margin-left: 2.4rem;

        path {
          stroke: #2F2E2A;
        }
      }
    }

    &__filters {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: white;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &__filter-btn-box {
    }

    &__filter-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 3rem;
      border-top: 1px solid #2F2E2A1A;
      border-bottom: 1px solid #2F2E2A1A;
      font-weight: 500;
      font-size: 3rem;
      line-height: 4.6rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      > svg {
        width: 2.4rem;
        height: 1.4rem;
        transform: scaleY(-1);
        transition: transform .2s ease;

        path {
          stroke: #2F2E2A;
        }
      }

      &.active {
        > svg {
          transform: scaleY(1);
        }
      }
    }

    &__filter-box {
      position: static;
      display: none;
      width: 100%;
      transform: translateX(0);
    }

    &__filter-box-bg {
    }

    &__filter-header {
      display: flex;
      justify-content: space-between;
      padding: 4rem 3rem 7rem 3rem;
      border-bottom: 1px solid #EBEBEA;
    }

    &__filter-box-title {
      padding: 0;
      font-size: 4.8rem;
      line-height: 1;
    }

    &__filter-close {
      width: 5rem;
      height: 5rem;
      border-left: none;

      &:before {
        width: 6rem;
      }

      &:after {
        width: 6rem;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &__filter-list {
      margin: 0 0 12rem 0;
      border-bottom: 1px solid #2F2E2A1A;
      overflow: visible;
    }

    &__filter-list-item {
      font-size: 3rem;
      line-height: 4.6rem;

      > * {
        padding: 3rem;
      }
    }

    &__filter-footer {
      padding: 12rem 3rem;
      border-top: none;
    }

    &__filter-form-btn {
      padding: 3.4rem 6rem;
      font-size: 3rem;
      line-height: 4.6rem;

      &:hover {
        background-color: transparent;
      }
    }

    &__filter-label {
    }

    &__filter-color {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }

    &__select {
      width: fit-content;
      padding-right: 5.2rem;
      font-size: 3rem;
      line-height: 4.6rem;
    }

    &__select-sub-text {
    }

    &__select-arrow {
      width: 2.2rem;
      height: 1.2rem;
    }

    &__select-list {
      position: absolute;
      left: 0;
      top: calc(100% + 1.2rem);
      padding: 4rem 3rem;
      backdrop-filter: blur(4rem);
    }

    &__select-item {
      > label {
        font-size: 3rem;
        line-height: 4.6rem;
      }

      &.active {}

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &__cards {
      justify-content: space-between;
      row-gap: 7rem;

      &--favorites {
        width: 100%;

        .catalog__item {
          &:nth-child(n) {
            margin: 0;
          }
        }
      }
    }

    &__item {
      width: 33rem;
      margin-right: 0;
      padding: 0;

      &:nth-child(4n) {
        margin-left: 0;
      }
    }

    &__like {
      right: 1rem;
      top: 1rem;

      svg {
        width: 4rem;
        height: 4rem;
      }
    }

    &__item-content {
    }

    &__img-box {
      height: 52rem;
      padding: 0;
    }

    &__item-title {
      margin-bottom: 1rem;
      font-size: 2.6rem;
      line-height: 4rem;
    }

    &__price {
      margin-bottom: 3rem;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.6rem;

      .old-price {
        display: block;
        margin-right: 0;
      }
    }

    &__info-text {
      margin-top: -2.4rem;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    &__nav-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 7rem;
    }

    &__arrow {
      > svg {
        width: 8.2rem;
        height: 2.4rem;

        path {
          fill: #2F2E2A;
        }
      }
    }

    .catalog__pagination {
      width: fit-content;

      .swiper-pagination-bullet {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #2F2E2A;
      }
    }

    &__selected-filters {
      column-gap: 4rem;
      row-gap: 2rem;
      margin-top: -4.8rem;
      margin-bottom: 8.8rem;

      > *:not(.filter-reset-box),
      .filter-reset {
        padding: 2.6rem 8.4rem 2.6rem 3rem;
        font-size: 2.6rem;
        line-height: 4rem;

        &:before {
          right: 3rem;
          width: 3rem;
        }

        &:after {
          right: 3rem;
          width: 3rem;
        }
      }

      .filter-reset-box {
        flex: 100%;
      }

      .filter-reset {
        font-weight: 700;
      }
    }
  }
}