@import "param";

.catalog {
  padding-bottom: 17rem;

  &__title {
    margin-bottom: 5rem;
    font-family: $lora;
    font-size: 4rem;
    line-height: 5.7rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__filter-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.8rem;
  }

  &__breadcrumbs {
    width: 34rem;
  }

  &__breadcrumb {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.6);

    &:not(:last-child) {
      &:after {
        content: '/';
        display: inline;
        margin: 0 1rem;
      }
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__filter-btn-box {
  }

  &__filter-btn {
    display: block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    cursor: pointer;
  }

  &__filter-box {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 65.7rem;
    height: 100%;
    transform: translateX(100%);
    background-color: white;
    transition: transform .3s ease;

    &.active {
      transform: translateX(0);
    }
  }

  &__filter-box-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(47, 46, 42, 0.9);
  }

  &__filter-header {
    flex: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEA;
  }

  &__filter-box-title {
    padding: 3rem 5rem;
    font-family: $lora;
    font-size: 4rem;
    line-height: 5.7rem;
    text-transform: uppercase;
  }

  &__filter-close {
    flex: none;
    position: relative;
    width: 12.8rem;
    height: auto;
    border-left: 1px solid #EBEBEA;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2rem;
      height: 2px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #2E2E2E;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2rem;
      height: 2px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: #2E2E2E;
    }

    &:hover {
      background-color: #F5F5F5;
    }
  }

  &__filter-list {
    flex: auto;
    margin: 3.5rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__filter-list-item {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: rgba(47, 46, 42, 0.5);

    > * {
      padding: 1.5rem 5rem;
    }

    &.active {
      background-color: #FAF9F5;
      color: #2F2E2A;
    }
  }

  &__filter-footer {
    flex: none;
    padding: 3rem 5rem;
    border-top: 1px solid #EBEBEA;
  }

  &__filter-form-btn {
    width: 100%;
    padding: 2.2rem 5rem;
    border: 1px solid #2F2E2A;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: #F5F5F5;
    }
  }

  &__filter-label {
    display: flex;
    align-items: center;
    cursor: pointer;

    > input {
      display: none;
    }
  }

  &__filter-color {
    flex: none;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
    border-radius: 100%;
  }

  &__label-select {
    position: relative;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__select {
    position: relative;
    z-index: 1;
    padding: 0 3rem 0 12rem;
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
  }

  &__select-sub-text {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__select-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    width: 1.1rem;
    height: 0.6rem;
    transform: translateY(-50%);

    path {
      stroke: #393738;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6rem;

    &--favorites {
      width: 120rem;

      .catalog__item {
        &:nth-child(3n + 1) {
          margin-right: 5rem;
          margin-left: 0;
        }

        &:nth-child(3n + 2) {
          margin: 0;
        }

        &:nth-child(3n) {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }

  &__item {
    position: relative;
    width: 36.7rem;
    height: auto;
    margin-right: 5rem;

    &:nth-child(4n + 3) {
      margin-right: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__like {
    position: absolute;
    right: 0;
    top: 0;

    svg {
      width: 2.5rem;
      height: 2.1rem;
    }

    path {
      fill: #2F2E2A;
    }

    .like-active {
      display: none;

      path {
        fill: #CB2C30;
      }
    }

    &.active {
      .like-disabled {
        display: none;
      }

      .like-active {
        display: initial;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img-box {
    width: 36.7rem;
    height: 41.4rem;
    padding: 2.7rem 1.8rem;
    margin-bottom: 0.9rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item-title {
    margin-bottom: 0.7rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__price {
    margin-top: auto;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
  }
}

@media (max-width: 48em) {
  .catalog {
    position: relative;
    padding-bottom: 24rem;

    &--category {
      .catalog__breadcrumbs {
        top: -14rem;
      }
    }

    &__title {
      margin-bottom: 7rem;
      font-size: 4.8rem;
      line-height: 1;
      text-align: left;
    }

    &__filter-block {
      display: block;
      justify-content: space-between;
      margin-bottom: 8.8rem;
    }

    &__breadcrumbs {
      position: absolute;
      left: 3rem;
      top: -20rem;
      width: 100%;
    }

    &__breadcrumb {
      font-size: 3rem;
      line-height: 4.6rem;

      &:not(:last-child) {
        &:after {
          margin: 0 2rem;
        }
      }
    }

    &__filters-btn-mob {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 7rem;
      padding: 3.4rem 5rem;
      border: 1px solid #2F2E2A;
      font-family: $sof600;
      font-weight: 700;
      font-size: 3rem;
      line-height: 4.6rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      > svg {
        width: 3.6rem;
        height: 3.6rem;
        margin-left: 2.4rem;

        path {
          stroke: #2F2E2A;
        }
      }
    }

    &__filters {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: white;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &__filter-btn-box {
    }

    &__filter-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 3rem;
      border-top: 1px solid #2F2E2A1A;
      border-bottom: 1px solid #2F2E2A1A;
      font-weight: 500;
      font-size: 3rem;
      line-height: 4.6rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      > svg {
        width: 2.4rem;
        height: 1.4rem;
        transform: scaleY(-1);
        transition: transform .2s ease;

        path {
          stroke: #2F2E2A;
        }
      }

      &.active {
        > svg {
          transform: scaleY(1);
        }
      }
    }

    &__filter-box {
      position: static;
      display: none;
      width: 100%;
      transform: translateX(0);
    }

    &__filter-box-bg {
    }

    &__filter-header {
      display: flex;
      justify-content: space-between;
      padding: 4rem 3rem 7rem 3rem;
      border-bottom: 1px solid #EBEBEA;
    }

    &__filter-box-title {
      padding: 0;
      font-size: 4.8rem;
      line-height: 1;
    }

    &__filter-close {
      width: 5rem;
      height: 5rem;
      border-left: none;

      &:before {
        width: 6rem;
      }

      &:after {
        width: 6rem;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &__filter-list {
      margin: 0 0 12rem 0;
      border-bottom: 1px solid #2F2E2A1A;
      overflow: visible;
    }

    &__filter-list-item {
      font-size: 3rem;
      line-height: 4.6rem;

      > * {
        padding: 3rem;
      }
    }

    &__filter-footer {
      padding: 12rem 3rem;
      border-top: none;
    }

    &__filter-form-btn {
      padding: 3.4rem 6rem;
      font-size: 3rem;
      line-height: 4.6rem;

      &:hover {
        background-color: transparent;
      }
    }

    &__filter-label {
    }

    &__filter-color {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }

    &__label-select {
      font-size: 3rem;
      line-height: 4.6rem;
    }

    &__select {
      padding: 0 5rem 0 19rem;
    }

    &__select-sub-text {
      bottom: -2px;
    }

    &__select-arrow {
      width: 2.2rem;
      height: 1.2rem;
    }

    &__cards {
      justify-content: space-between;
      row-gap: 7rem;

      &--favorites {
        width: 100%;

        .catalog__item {
          &:nth-child(n) {
            margin: 0;
          }
        }
      }
    }

    &__item {
      width: 33rem;
      margin-right: 0;
      padding: 5rem 0 2rem 0;

      &:nth-child(4n) {
        margin-left: 0;
      }
    }

    &__like {
      svg {
        width: 5rem;
        height: 4.2rem;
      }
    }

    &__item-content {
    }

    &__img-box {
      width: 28.4rem;
      height: 31rem;
      padding: 0;
      margin: 0 auto 5rem auto;
    }

    &__item-title {
      margin-bottom: 3rem;
      font-size: 3rem;
      line-height: 4.4rem;
    }

    &__price {
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.6rem;
    }
  }
}