@import "param";

.user_errors {
  margin-top: -5%;
  margin-bottom: 5%;
  font-size: 2rem;
  color: red;
  text-align: center;
  border: 1px solid;
  padding: 1.5%;
  border-radius: 1rem;
  display: none;
  margin-right: 5%;
}