.lookbook {
  margin-bottom: 18rem;

  &__intro {
    width: 100%;
    margin-bottom: 13rem;
  }

  &__video {
    position: relative;
    width: 100%;
    height: 86.1rem;
    cursor: pointer;

    > video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .2);
      transition: opacity .25s ease;
    }

    &.play {
      &:before {
        opacity: 0;
      }

      .lookbook__video-play {
        opacity: 0;

        > svg {
          display: none;
        }

        &:before,
        &:after {
          display: block;
        }
      }

      .lookbook__video-full {
        display: block;
      }
    }

    &.play.hover {
      &:before {
        opacity: 1;
      }

      .lookbook__video-play {
        opacity: 1;
      }

      .lookbook__video-full {
        opacity: 1;
      }
    }
  }

  &__video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 8.4rem;
    height: 8.4rem;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: rgba(250, 250, 250, 0.67);
    transition: opacity .25s ease;

    > svg {
      width: 1.2rem;
      height: 1.4rem;

      path {
        fill: #1D1D1D;
      }
    }

    &:before,
    &:after {
      content: '';
      display: none;
      width: 0.5rem;
      height: 2.4rem;
      background-color: #1D1D1D;
    }
  }

  &__video-full {
    display: none;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    opacity: 0;
    transition: opacity .25s ease;

    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__img-box {
    width: 100%;
    height: 86.1rem;
    margin-top: 10rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    width: 98.8rem;
    margin: 0 auto 4rem auto;
    font-family: $lora;
    font-size: 4rem;
    line-height: 5.7rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__desc {
    width: 98.8rem;
    margin: 0 auto;
    font-family: $lora;
    font-size: 2rem;
    line-height: 3.3rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
  }

  &__video {
    margin-top: 10rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 6rem;
  }

  &__item {
    flex: 40%;
    height: auto;

    > a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(3n) {
      flex: 100%;
    }
  }
}

@media (max-width: 48em) {
  .lookbook {
    margin-bottom: 30rem;

    &__intro {
    }

    &__video {
      height: 49.2rem;

      &.play {}

      &.play.hover {}
    }

    &__video-play {
      gap: 0.6rem;
      width: 9.2rem;
      height: 9.2rem;

      > svg {
        width: 1.6rem;
        height: 1.6rem;
      }

      &:before,
      &:after {
        width: 0.6rem;
      }
    }

    &__video-full {
      width: 6rem;
      height: 6rem;
    }

    &__img-box {
      height: 49.2rem;
      margin-top: 12rem;
    }

    &__title {
      width: 100%;
      margin: 0 0 5rem 0;
      font-size: 4.8rem;
      line-height: 6rem;
      text-align: left;
    }

    &__desc {
      width: 100%;
      margin: 0;
      font-size: 3rem;
      line-height: 4.2rem;
      text-align: left;
    }

    &__video {
      margin-top: 12rem;
    }

    &__list {
    }

    &__item {
      flex: 100%;
    }
  }
}