.new-banner {
  position: relative;
  z-index: 1;
  height: 90vh;
  overflow: hidden;

  &__bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 100%;
    height: 125%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:first-child {
      transform: translate(-50%, 20%);
    }
  }

  &__text-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 11rem 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
  }

  &__title {
    width: 63rem;
    margin-bottom: 3rem;
    font-family: $lora;
    font-size: 5rem;
    line-height: 6.5rem;
    text-transform: uppercase;
  }

  &__btn {
    padding: 3rem 5rem;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4rem);
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 48em) {
  .new-banner {
    &__bg {
    }

    &__text-box {
      padding: 14rem 0;
    }

    &__title {
      width: 63rem;
      margin-bottom: 5rem;
      font-size: 4.8rem;
      line-height: 6.5rem;
    }

    &__btn {
      padding: 3.4rem 7.6rem;
      backdrop-filter: blur(4rem);
      font-size: 3rem;
    }
  }
}