@import "param";

.personal {
  margin-bottom: 17rem;

  &__breadcrumbs {
    margin-bottom: 8rem;
  }

  &__breadcrumb {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.6);

    &:not(:last-child) {
      &:after {
        content: '/';
        display: inline;
        margin: 0 1rem;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__navigation {
    flex: none;
    width: 35rem;
    margin-right: 7rem;
  }

  &__nav-link {
    display: block;
    width: fit-content;
    padding-bottom: 1.7rem;
    border-bottom: 1px solid transparent;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &.active {
      border-bottom: 1px solid #2F2E2A;
    }
  }

  &__log-out {
    display: block;
    margin-top: 18rem;
    width: fit-content;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(47, 46, 42, 0.6);
    transition: color .5s ease;

    &:hover {
      color: #2F2E2A;
    }
  }

  &__content {
    width: 98rem;
  }

  &__title {
    margin-bottom: 9.6rem;
    font-family: $lora;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__date {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.6);
  }
}

@media (max-width: 48em) {
  .personal {
    position: relative;
    margin-bottom: 24rem;

    .container {
      overflow: hidden;
      margin-top: -8rem;
      padding-top: 8rem;
    }

    &__breadcrumbs {
      position: absolute;
      left: 3rem;
      top: -12rem;
    }

    &__breadcrumb {
      font-size: 3rem;
      line-height: 4.6rem;

      &:not(:last-child) {
        &:after {
          margin: 0 2rem;
        }
      }
    }

    &__container {
      display: flex;

      > * {
        flex: none;
        transition: transform .4s ease;
      }

      &.active {
        > * {
          transform: translateX(-100vw);
        }
      }
    }

    &__mob-title {
      margin-top: -8rem;
      margin-bottom: 8rem;
      font-family: $lora;
      font-size: 4.8rem;
      text-transform: uppercase;
    }

    &__navigation {
      width: 100%;
      margin-right: 6rem;
    }

    &__nav-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 2.2rem;
      font-size: 3rem;
      line-height: 4.6rem;

      &.active {
        border-bottom: 0;
      }

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      &:not(:last-child, :nth-last-child(2)) {
        border-bottom: 1px solid rgba(47, 46, 42, 0.1);
      }
    }

    &__log-out {
      margin-top: 56rem;
      font-size: 3rem;
      line-height: 4.6rem;
      color: #A10000;
    }

    &__content {
      width: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 5rem;
      margin-bottom: 7rem;
      font-size: 4.8rem;
      cursor: pointer;
    }

    &__date {
      margin-bottom: 2rem;
      font-size: 3rem;
      line-height: 4.6rem;
    }
  }
}