@import "param";

.product {
  margin-top: -6rem;
  margin-bottom: 17rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slider {
    display: flex;
    width: 85rem;
    height: 88rem;
    margin: 0;
  }

  .product__pagination {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    transform: translate(0);
    margin-right: 2.3rem;

    .swiper-pagination-bullet {
      display: block;
      width: fit-content;
      height: fit-content;
      padding-right: 1rem;
      margin: 0;
      border-radius: 0;
      background: transparent;
      font-family: $sof600;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.5rem;

      &:not(:last-child) {
        margin-bottom: 3.3rem;
      }
    }

    .swiper-pagination-bullet-active {
      border-right: 1px solid #2F2E2A;
    }
  }

  &__slide {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-block {
    position: relative;
    align-self: flex-start;
    width: 51.3rem;
    margin-top: -13rem;
    padding: 20.6rem 4.4rem 4.4rem 4.4rem;
    background-color: #FAF9F5;
  }

  &__main-info {}

  &__info-title {
    font-family: $lora;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__info-sub-title {
    margin-bottom: 6.5rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &__option-box {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__option-name {
    width: 10rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__options {
    display: flex;
    align-items: center;

    &--circle {
      .product__option-label {
        span {
          display: block;
          width: 2.6rem;
          height: 2.6rem;
          transform: scale(0.6155);
          border-radius: 100%;
        }

        &.active {
          span {
            transform: scale(1);
          }
        }
      }
    }
  }

  &__option {
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__option-label {
    cursor: pointer;

    > input {
      display: none;
    }

    &.active {
      border-bottom: 1px solid #2F2E2A;
      font-family: $sof600;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  &__slider-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 7rem;
    margin-bottom: 8rem;
  }

  &__card-img-box {
    width: 9rem;
    height: 12rem;
    background-color: white;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__price {
    margin-bottom: 7rem;
    font-family: $lora;
    font-size: 2.2rem;

    &--pre {
      margin-bottom: 3.5rem;

      > * {
        display: block;

        &:first-child {
          margin-bottom: 2.6rem;
          font-weight: 250;
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: .1em;
          text-transform: uppercase;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.4rem;
    height: 7.2rem;
    border: 1px solid #2F2E2A;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    > svg {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 2rem;

      path, circle {
        stroke: #2F2E2A;
      }
    }
  }

  &__like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2rem;
    height: 7.2rem;
    border: 1px solid #2F2E2A;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    .active {
      display: none;
    }

    &.active {
      .active {
        display: initial;
      }

      .disabled {
        display: none;
      }
    }
  }

  &__tabs {
  }

  &__tab {
    display: block;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.5);
    text-align: right;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 3.3rem;
    }

    &.active {
      color: #2F2E2A;
    }
  }

  &__tab-content {
    display: none;
    position: absolute;
    left: 0;
    top: 20rem;
    width: 100%;
    min-height: calc(100% - 20rem);
    padding: 0 4.4rem 10rem 4.4rem;
    background-color: #FAF9F5;

    > input {
      display: none;
    }

    &.active {
      display: block;
    }
  }

  &__tab-close {
    position: absolute;
    left: 4.4rem;
    bottom: 4.4rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #2E2E2E;
    font-family: $sof600;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__tab-close-icon {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 4rem;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, -50%) rotate(-45deg);
      background-color: #2E2E2E;
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 2px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: #2E2E2E;
    }
  }

  &__tab-title {
    font-family: $lora;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__tab-sub-title {
    margin-bottom: 5rem;
    font-size: 1.6rem;
  }

  &__tab-text {
    width: 34.4rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #8D8C8A;
  }

  &__guid-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(47, 46, 42, 0.1);
    border-bottom: 1px solid rgba(47, 46, 42, 0.1);
  }

  &__guid-tab {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: rgba(47, 46, 42, 0.5);
    cursor: pointer;

    &.active {
      color: #2F2E2A;
    }
  }

  &__guid-tab-content {
    display: none;
    width: 100%;
    border-bottom: 1px solid rgba(47, 46, 42, 0.1);
    table-layout: fixed;

    td {
      padding-bottom: 2rem;
      font-size: 1.6rem;
      color: rgba(47, 46, 42, 0.5);

      &:first-child {
        width: 11rem;
        padding-right: 3rem;
        color: #2F2E2A;
      }
    }

    &.active {
      display: table;
    }
  }
}

@media (max-width: 48em) {
  .product {
    margin-bottom: 24rem;

    &__container {
      flex-direction: column;
      align-items: normal;
      justify-content: normal;
    }

    &__slider {
      width: 100%;
      height: 90rem;
      padding: 0 10rem;
      margin-bottom: 12rem;
    }

    .product__pagination {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      .swiper-pagination-bullet {
        padding-right: 2rem;
        font-size: 3rem;
        line-height: 4.6rem;

        &:not(:last-child) {
          margin-bottom: 5rem;
        }
      }
    }

    &__slide {
    }

    &__info-block {
      order: 3;
      width: 100%;
      margin-top: 0;
      padding: 7rem 3rem;
    }

    &__tab-content {
      position: static;
    }

    &__info-title {
      margin-bottom: 1rem;
      font-size: 4.4rem;
    }

    &__info-sub-title {
      margin-bottom: 7rem;
      font-size: 3rem;
      line-height: 4.6rem;
    }

    &__option-box {
      margin-bottom: 6rem;
    }

    &__option-name {
      width: 16rem;
      margin-right: 2rem;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    &__options {
      &--circle {
        .product__option-label {
          span {
            width: 4.6rem;
            height: 4.6rem;
          }
        }
      }
    }

    &__option {
      font-size: 3.2rem;

      &:not(:last-child) {
        margin-right: 5rem;
      }
    }

    &__option-label {
      &.active {
        font-size: 3.6rem;
      }
    }

    &__slider-cards {
      gap: 3rem;
    }

    &__card-img-box {
      width: 13.4rem;
      height: 17.8rem;
    }

    &__price {
      margin-bottom: 7rem;
      font-size: 4rem;

      &--pre {
        margin-bottom: 5rem;

        > * {
          &:first-child {
            margin-bottom: 3rem;
            font-size: 2.4rem;
            line-height: 2.4rem;
          }
        }
      }
    }

    &__buttons {
    }

    &__cart-btn {
      width: 48.6rem;
      height: 11.4rem;
      border: 1px solid #2F2E2A;
      font-size: 3rem;
      line-height: 4.6rem;

      > svg {
        width: 4.2rem;
        height: 4.2rem;
        margin-right: 3rem;
      }
    }

    &__like-btn {
      width: 11.4rem;
      height: 11.4rem;

      > svg {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &__tabs {
      display: flex;
      gap: 3rem;
      margin: 0 -3rem 7rem -3rem;
      padding: 0 3rem;
      overflow-x: scroll;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    &__tab {
      flex: none;
      padding: 2rem 3rem;
      border: 1px solid #EAEAEA;
      font-size: 3rem;
      line-height: 4.6rem;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &.active {
        font-family: $sof600;
        font-weight: 700;
        border: 1px solid #2F2E2A;
      }
    }

    &__tab-content {
      top: 0;
      min-height: 100%;
      padding: 7rem 3rem;
    }

    &__tab-close {
      position: absolute;
      left: auto;
      right: 3rem;
      bottom: auto;
      top: 8rem;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__tab-close-icon {
      width: 2.6rem;
      height: 2.6rem;
      margin-left: 0;
    }

    &__tab-title {
      margin-bottom: 1rem;
      font-size: 4.4rem;
    }

    &__tab-sub-title {
      margin-bottom: 7rem;
      font-size: 3rem;
    }

    &__tab-text {
      width: auto;
      font-size: 3rem;
      line-height: 4.6rem;
    }

    &__guid-tabs {
      margin-top: 7rem;
      margin-bottom: 4rem;
      padding: 3rem 0;
    }

    &__guid-tab {
      font-size: 3rem;
      line-height: 4.6rem;
    }

    &__guid-tab-content {
      td {
        padding-bottom: 4rem;
        font-size: 3rem;

        &:first-child {
          width: 14rem;
        }
      }
    }
  }
}